body {
  text-align: center;
  background-color: #333333;
}

a{
  text-decoration: none;
}

#help{
  font-family: monospace;
  font-size: 12px;
  margin: 0;
  padding: 0;
  text-align: left;
}

#game-title {
  font-family: monospace;
  font-size: 3rem;
  margin:  2.5% auto 1%;
  color: #FEF2BF;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  2% auto 1%;
  color: #FEF2BF;
}

#rule-title{
  font-family: 'Press Start 2P', cursive;
  font-size: 1rem;
  margin:  4% auto 1%;
  color: #FEF2BF;
  text-align: center;
}

#rule-text{
  font-family: monospace;
  font-size: 1rem;
  margin:  1% auto 1%;
  color: #FEF2BF;
  width: 50%;
}

#rule-text p{
  display: inline-block;
  
}

.container {
  display: block;
  width: 50%;
  margin: auto;

}

.btn {
  margin: 25px;
  display: inline-block;
  height: 200px;
  width: 200px;
  border: 10px solid black;
  border-radius: 20%;
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
